* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #274D70;
    --big-font: 7rem;
    --p-font: 1.1rem;
    --sub-font: 1rem;
}


/* Mulai nav bar */

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 66px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;
    background: var(--main-color);
    transition: all ease .45s;
}

.logo {
    color: var(--text-color);
    font-family: Judson;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;
}

.informasi i {
    margin-top: 2px;
}

header ul li a {
    color: var(--text-color);
    font-size: var(--sub-font);
    padding: 20px 20px;
    text-decoration-line: none;
    justify-content: space-between;
    display: flex;
}

header ul li.beranda:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li.cuaca:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li.mengapa:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li.informasi:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li.donasi:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li.lokasi:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header ul li .dropdown {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: var(--main-color);
    display: none;
}

header ul li.informasi:hover .dropdown {
    display: block;
}

header ul li ul li:hover {
    background-color: #152a3d;
}

header ul li .dropdown li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


/* Mulai responsive nav */

@media (max-width: 920px) {
    header {
        padding: 10px 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #386ea0;
        display: none;
    }
    header.active nav {
        display: initial;
    }
    header nav ul li {
        width: 100%;
    }
    header ul li .dropdown {
        position: relative;
        width: 100%;
        left: 0;
    }
    .menu {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menu::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menu::before {
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    header.active .menu::after {
        transform: rotate(315deg);
    }
}


/* informasi donasi */

.row {
    margin: 20%;
    width: 200%;
}

.row>div {
    margin: 30px;
    padding: 30px;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    float: right;
    padding-right: 50%;
    font-weight: bold;
}

.colomn {
    padding: 10px;
    margin: 10%;
    border: 1px solid #b7b7b7;
}

img {
    padding: 3px 0px 6px 8px;
    width: 15%;
}

.box {
    display: flex;
    margin: 8px;
}

.box1 {
    display: flex;
    margin-left: 10%;
}

.col {
    float: left;
    color: #696969;
}

label {
    padding: 20px 50px 20px;
    display: inline-block;
}

input[type=button] {
    background-color: #274D70;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 16px 32px;
    margin: 5% 38%;
    cursor: pointer;
}

input[type=text] {
    padding: 12px 40px;
    margin: 8px;
    width: 67%;
    border: none;
    outline: none;
}

.nominal {
    display: flex;
    padding: 10px;
    margin: 2% 10%;
    border: 1px solid #b7b7b7;
}

.href {
    color: #020202;
}


/* Pembayaran */

.conten {
    font-weight: bold;
    margin-left: 50px;
}

.colom {
    padding: 10px;
    margin: 10%
}

.text {
    float: right;
    color: #696969;
}

.text1 {
    padding-left: 57%;
    color: #696969;
}

input[type=checkbox] {
    margin: 75px;
}

input[type=submit] {
    background-color: #274D70;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 16px 32px;
    margin: 5% 30%;
    cursor: pointer;
}

section {
    padding: 70px 17%;
}

.footer {
    color: white;
    background-color: var(--main-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content .footer-text {
    display: flex;
    flex-direction: column;
    width: 348px;
    text-align: justify;
}

.footer-content .footer-text h2 {
    font-family: Judson;
}

.footer-content .footer-text p {
    opacity: 70%;
}

.footer-content .footer-col li {
    opacity: 70%;
}